@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    color-scheme: dark light;
    @apply h-full;
  }
  #root {
    @apply flex flex-col;
  }
  html.dark > body {
    @apply bg-zinc-950 text-zinc-200;
  }
  html.light > body {
    @apply bg-white text-black;
  }
  a {
    @apply cursor-pointer text-blue-400;
  }
  a:hover {
    @apply underline;
  }
  .red {
    @apply text-red-400;
  }
  a.default {
    @apply text-zinc-200;
  }
  button,
  a,
  label {
    @apply !ring-offset-0 focus-visible:ring-zinc-200 focus-visible:ring-2 focus:ring-0;
  }
  h1 {
    @apply text-xl font-medium;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
